# egencache autostuff, shamelessly copied from the gentoo-haskell overlay ;)
metadata/cache/
metadata/md5-cache/
profiles/use.local.desc
*.swp
*.swo

# ignore scripts output
net-proxy/v2rayA/scripts/work
